*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(79, 79, 79));
    background-image: url(/images/wallpaper2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

/* Header Vertical */
header{
  position: fixed; 
  left: 0;
  width: 220px; 
  height: 100vh; 
  color: white;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  border-right: 3px solid black;
  background-image: url(/images/wallpaper3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


header .funcoes ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column; 
  gap: 15px; 
}

header .funcoes ul li a {
  color: white; 
  text-decoration: none;
  padding: 5px;
  display: block;
}

header .funcoes ul li  :hover {
    background-color:  #cccccc;
}

header .login ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column; 
  gap: 15px; 
}

header .login ul li a {
  color: white; 
  text-decoration: none;
  padding: 5px;
  display: block;
}

header .login ul li  :hover {
    background-color:  #cccccc;
}

.item-login{
    margin-bottom: 40px;
}

.logo{
    margin-left: 10px;
    margin-top: 15px;
}

.logo a{
    color: white; 
    text-decoration: none;
}


/* ///////////////////////// */

/* Main  */
main {
  margin-left: 225px; 
  padding: 20px;
  display: grid;
}

main h1{
    text-align: center;
    color: white;
}

.header2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-header2{
    color: white;
    display: block;
}


/* //////////////////////// */

.cadastro-ordem{
    display: grid;
    background: linear-gradient(45deg, rgb(44, 44, 44), rgb(42, 41, 41));
    margin-top: 70px;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
    border: 0.5px solid black; 
    color: white;
}

#item-ordem-1{
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 10px;
}



#item-ordem-2{
    display: flex;
    flex-direction: row;
    gap: 34px;
    margin-top: 20px;
}

#item-ordem-3{
    margin-top: 32px;
}

#item-ordem-3 p{
    margin-bottom: 5px;
}

#item-ordem-3 textarea{
    resize: none;
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

#item-ordem-4{
    margin-top: 32px;
}

#item-ordem-4 p{
    margin-bottom: 5px;
}

#item-ordem-4 textarea{
    resize: none;
    width: 100%;
    height: 100px;
    border-radius: 5px;
}


#item-ordem-5{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 10px;
}

#button-cadastrar button{
    background-color: green;
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
    border-radius: 5px;

}

#button-cancelar button{
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

#button-cancelar button:hover{
    background-color: rgb(179, 56, 56);
}

#button-cadastrar button:hover{
    background-color: rgb(2, 199, 2);
}
